.text-custom li {
  color: #a30926;
}
.logo {
  width: 100%;
  height: auto;
}

@media (min-width: 1024px) {
  li:after {
    content: "";
    position: absolute;
    background-color: #a30926;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -7px;
    transition: 0.3s;
  }

  li:hover:after {
    width: 100%;
  }
}
@media only screen and (max-width: 360px) {
  .logo {
    width: 64px;
    height: 24px;
  }
}
